<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Slipushkin_Weather::weather" title="Weather" module="Slipushkin_Weather" sortOrder="10" action="slipushkin_weather/weather" resource="Slipushkin_Weather::weather"/>
    </menu>
</config>
