<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <general>
                <api_key>47c4964271429a33cf46ce3fa5ac2d4b</api_key>
                <unit>metric</unit>
            </general>
        </weather>
    </default>
</config>
